<!DOCTYPE html>
<html class=" js csstransforms3d" xmlns:th="http://www.thymeleaf.org"><head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>咨询管理-通用咨询详情页</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/page.css">
	<!--[if lte IE 8]>
	<link  th:href=" @{css/ie8.css}" rel="stylesheet" type="text/css"/>
	<![endif]-->
	<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{js/main.js}"></script>
	<script type="text/javascript" th:src="@{js/modernizr.js}"></script>
	<!--[if IE]>
	<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>

<body style="background: #f6f5fa;">

	<!--content S-->
	<div class="super-content">
		<div class="superCtab">
			<div class="ctab-title zxtop-title clearfix"><h3>咨询管理</h3><a href="zixun_Team.html" class="backlistBtn"><i class="ico-back"></i>返回列表</a></div>
		</div>
		<!--main-->
	</div>
	<!--content E-->
	<div class="zx-dtlMain" th:each="list:${list}">

		<dl>
			<dt>姓名：</dt><dd th:text="${list.realName}"></dd>
		</dl>
		<dl>
			<dt>用户名：</dt><dd th:text="${list.userName}"></dd>
		</dl>
		<dl>
			<dt>用户密码：</dt><dd th:text="${list.passWord}"></dd>
		</dl>
		<dl>
			<dt>用户性别：</dt><dd th:text="${list.sex}"></dd>
		</dl>
		<dl>
			<dt>用户电话：</dt><dd th:text="${list.usePhone}"></dd>
		</dl>

	</div>


		


</body></html>