<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mapper.CompanyMapper">

    <!-- 分页查询全部信息 -->
    <select id="getCompanyList" resultType="Company">
        select * from schp_company  order by id desc limit #{currentPage},#{pageSize}
    </select>

    <!-- 统计职位总记录数 -->
    <select id="getTotalCount" resultType="int">

        select count(1) from schp_company

    </select>

    <!-- 删除职位信息 -->
    <delete id="delInfo">
        delete
        from schp_company where
        id=#{id}

    </delete>

    <!--查询文章分类  -->


    <!--发布职位信息-->



</mapper>