<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mapper.InfoMapper">
    <!-- 分页查询全部信息 -->
    <select id="getInfoList" resultType="Info">
        select * from schp_info  order by id desc limit #{currentPage},#{pageSize}
    </select>

    <!-- 统计职位总记录数 -->
    <select id="getTotalCount" resultType="int">

        select count(1) from schp_info

    </select>

    <!-- 删除职位信息 -->
    <delete id="delInfo">
        delete
        from schp_info where
        id=#{id}

    </delete>

    <!--查询文章分类  -->
    <select id="getInfoTypeList" resultType="InfoType">
        select * from schp_infotype
    </select>

    <!--发布职位信息-->
    <insert id="infoAdd" parameterType="Info">
        INSERT INTO `schpdb`.`schp_info` ( `infoTitle`, `infoContent`, `infoType`, `infoDate`, `userId`)
        VALUES (#{info.infoTitle}, #{info.infoContent}, #{info.infoType}, NOW(), #{info.userId});
    </insert>

</mapper>