<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mapper.PraiseMapper">


    <!-- 点赞 -->
    <insert id="addPraise" parameterType="int">
        INSERT INTO `schpdb`.`schp_praise` (`userId`, `infoId`)
        VALUES (#{userId}, #{infoId});
    </insert>
    <!-- 取消点赞 -->
    <select id="checkPraise" parameterType="int" resultType="int">
        select count(1)
        from schp_praise
        where userId = #{userId}
          and infoId = #{infoId}
    </select>
    <!-- 取消点赞 -->
    <delete id="delPraise" >
        delete from schp_praise where userId =#{userId} and infoId = #{infoId}
    </delete>

</mapper>