<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mapper.UserMapper">
    <resultMap id="getList" type="com.star.pojo.User">
        <id property="id" column="id"/>
        <result property="realName" column="realName"/>
        <result property="userName" column="userName"/>
        <result property="passWord" column="passWord"/>
        <result property="sex" column="sex"/>
        <result property="usePhone" column="usePhone"/>
        <result property="userRoleId" column="id"/>
        <collection property="Role" javaType="com.star.pojo.Role">
            <id column="id" property="id"/>
            <result column="roleName" property="roleName"></result>
        </collection>
    </resultMap>

    <select id="login" resultType="User">
        select * from schp_user where userName =#{userName} and passWord = #{passWord}
    </select>
    <insert id="Register" parameterType="com.star.pojo.User">
        INSERT INTO schp_user (realName,userName,passWord,sex,usePhone) VALUES(#{user.realName},#{user.userName},#{user.passWord},#{user.sex},#{user.usePhone})
    </insert>
    <select id="repeat" resultType="int">
        SELECT COUNT(*) FROM schp_user WHERE userName=#{userName}
    </select>
    <update id="upPwd" parameterType="com.star.pojo.User">
        UPDATE `schpdb`.`schp_user` SET `passWord` = #{passWord} WHERE `id` = #{id}
    </update>
    <select id="checkPwd" resultType="com.star.pojo.User">
        SELECT * FROM `schp_user` WHERE `passWord`=#{passWord} AND userName=#{userName}
    </select>
    <select id="userList" resultType="com.star.pojo.User" resultMap="getList">
        SELECT u.*,r.roleName FROM `schp_user` u,`schp_role` r WHERE u.userRoleId=r.id LIMIT #{currentPage},#{pageSize}
    </select>
    <select id="getCount" resultType="int">
        select count(*) from schp_user
    </select>
    <select id="getUserList" resultType="com.star.pojo.User" resultMap="getList">
        SELECT u.*,r.roleName FROM `schp_user` u,`schp_role` r WHERE u.userRoleId=r.id AND u.realName LIKE "%"#{realName}"%"
    </select>
</mapper>